---
import { Image } from "astro:assets";
import projectImage from "../../assets/devgpt.png";
---

<div
	class="relative flex-[1_0_calc(100%_-12px)] overflow-hidden rounded-2xl border border-secondary transition-all duration-300 hover:scale-90 md:flex-[1_0_calc(50%_-12px)]"
>
	<Image
		src={projectImage}
		alt="Project image"
		class="absolute -z-10 h-full w-full rounded-2xl object-cover blur-sm brightness-50"
	/>
	<div class="space-y-6 p-6">
		<h3 class="text-2xl font-extrabold md:text-3xl">DevGPT</h3>
		<div class="flex flex-wrap gap-3">
			<div
				class="inline-block rounded border border-primary bg-secondary px-2 py-1 text-text"
			>
				GitBook
			</div>
		</div>
		<p>
			DevGPT is an AI-powered dev agent that seamlessly integrates with popular project
			management tools. I streamlined DevGPT's documentation, making it clear and easy to
			follow, allowing developers getting started with DevGPT faster and with more ease.
		</p>
	</div>
</div>
