---
import { Image } from "astro:assets";
import projectImage from "../../assets/devgpt.png";
---

<div class="flex-[1_0_calc(100%_-_12px)] md:flex-[1_0_calc(50%_-_12px)]">
	<a href="https://devgpt.com">
		<div class="group rounded-2xl border border-secondary">
			<Image src={projectImage} alt="Project image" class="rounded-t-2xl object-fill" />
			<div
				class="space-y-6 rounded-b-2xl p-6 transition-all duration-300 group-hover:bg-neutral-900"
			>
				<h3 class="text-2xl font-extrabold md:text-3xl">DevGPT</h3>
				<div class="flex gap-3">
					<div
						class="inline-block rounded border border-secondary bg-background p-2 text-accent"
					>
						GitBook
					</div>
				</div>
				<p>
					Pipeline Tool Designed for Teams that Seamlessly Integrates with Leading Ticket
					Systems.
				</p>
			</div>
		</div>
	</a>
</div>
