---

---

<h2 class="about-heading text-3xl font-extrabold md:text-4xl">About Me</h2>

<div class="about-content space-y-6">
	<p class="text-xl md:text-2xl">
		Hi, I'm <span class="text-primary">ejvali</span> 👋, a software engineer passionate about <span
			class="text-primary">web development</span
		> and <span class="text-primary">open source</span>. I've been into web development from a
		young age, and I've continued to develop my skills and never stopped learning new things,
		which resulted in learning the technologies needed to build modern and performant websites.
	</p>

	<p class="text-xl md:text-2xl">
		I've crafted several projects, which you can find on <a
			href="https://github.com/DevVali"
			class="text-primary">my GitHub profile</a
		> or the <a href="#projects" class="text-primary">Projects</a> page on this website. I've also
		worked as a social media manager for <a href="https://www.gluo.xyz" class="text-primary"
			>Gluo</a
		>.
	</p>
</div>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	// Defaults
	gsap.set(".about-heading", {
		perspective: 500,
		opacity: 0,
		filter: "blur(5px)",
		x: -100,
		y: 50,
	});
	gsap.set(".about-content", {
		perspective: 500,
		opacity: 0,
		filter: "blur(5px)",
		x: 100,
		y: 50,
	});

	// Timeline
	const tl = gsap.timeline({
		scrollTrigger: {
			trigger: ".about-heading",
			start: "bottom center",
			end: "+=600",
			scrub: 2,
			pin: "#about",
		},
		defaults: {
			opacity: 1,
			filter: "blur(0px)",
			x: 0,
			y: 0,
		},
	});
	tl.to(".about-heading", {}).to(".about-content", {});
</script>
