---
import { Icon } from "astro-icon/components";
---

<section class="mx-1 space-y-5 text-center">
	<h1 class="text-5xl font-extrabold md:text-6xl"></h1>
	<div class="content-wrapper relative opacity-0 [animation-delay:0.5s]">
		<h2 class="text-lg text-accent md:text-xl">
			Full-Stack Web Developer from <a
				href="https://en.wikipedia.org/wiki/Slovakia"
				class="text-primary">Slovakia</a
			>
		</h2>
	</div>
</section>

<a
	href="#about"
	class="scroll-wrapper absolute bottom-24 opacity-0 [animation-delay:2s] md:bottom-16"
	><Icon
		name="icomoon-free:circle-down"
		class="mx-auto -translate-y-1/4 animate-bounce [animation-delay:6s]"
		size={40}
	/></a
>

<script>
	import typewriter from "../../scripts/typewriter.ts";
	typewriter("h1", {
		text: "Hi, I'm <span class='text-primary'>ejvali</span>.",
		speed: 70,
		onFinish: () => {
			document.querySelector(".content-wrapper")!.classList.add("animate-fadein");
			document.querySelector(".scroll-wrapper")!.classList.add("animate-fadein");
		},
	});
</script>
