---
import { Icon } from "astro-icon/components";
import { socials } from "../../config.ts";
---

<h2 class="text-3xl font-extrabold md:text-4xl">Contact me</h2>

<p class="text-xl md:text-2xl">
	Let's work together. Contact me through one of the contact options below.
</p>

<div class="flex gap-6 py-2">
	{
		socials.map((social) => (
			<a href={`${social.link}`} class="animated-icon transition-all" title={social.name}>
				<Icon name={`${social.icon}`} size={50} />
			</a>
		))
	}
</div>

<script>
	const icons = document.querySelectorAll<HTMLElement>(".animated-icon");

	icons.forEach((icon, index) => {
		icon.addEventListener("mouseover", () => {
			icon.style.transform = "scale(1.5) translateY(-8px)";

			if (icons[index + 1] !== undefined) {
				icons[index + 1].style.transform = "scale(1.2) translateY(-6px)";
			}
			if (icons[index + 2] !== undefined) {
				icons[index + 2].style.transform = "scale(1.1) translateY(-2px)";
			}

			if (icons[index - 1] !== undefined) {
				icons[index - 1].style.transform = "scale(1.2) translateY(-6px)";
			}
			if (icons[index - 2] !== undefined) {
				icons[index - 2].style.transform = "scale(1.1) translateY(-2px)";
			}
		});

		icon.addEventListener("mouseleave", () => {
			icons.forEach((icon) => {
				icon.style.transform = "scale(1) translateY(0px)";
			});
		});
	});
</script>
