---
import Project from "../shared/Project.astro";
---

<h2 class="text-3xl font-extrabold md:text-4xl">Projects</h2>

<p class="text-xl md:text-2xl">List of projects I've worked on and my work experiences.</p>

<div class="flex gap-6 overflow-x-scroll">
	<Project />
	<Project />
	<Project />
</div>
