---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

const title = "About Me";
---

<Layout title={title}>
	<section class="text-3xl text-text">
		<p class="mb-4">
			Hello stranger! <Icon
				name="fluent-emoji-flat:waving-hand-light"
				class="inline animate-waving-hand"
			/>, my name is <span class="text-primary">ejvali</span>, alias <span
				class="text-primary">Vali</span
			> or <span class="text-primary">DevVali</span>, and I'm a software engineer passionate
			about web development and open source. I've been into web development from a young age,
			and I've continued to develop my skills and never stopped learning new things, which
			resulted in accidentally learning the technologies needed to build modern and performant
			websites.
		</p>

		<p class="mb-4">
			I've crafted several projects, which you can find on <Link
				href="https://github.com/DevVali"
			>
				my GitHub profile
			</Link>
			or the <Link href="/projects">Projects</Link> page on this website.
		</p>
	</section>
</Layout>
