---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<header class="flex h-screen flex-col items-center justify-center">
		<nav
			class="navbar fixed bottom-0 block w-full transition-all duration-300 md:absolute md:top-0"
		>
			<Navbar />
		</nav>

		<section class="space-y-5 text-center">
			<h1 class="text-6xl font-extrabold"></h1>
			<div class="header-content-wrapper opacity-0 [animation-delay:0.5s]">
				<h2 class="text-xl text-accent">
					Full-Stack Web Developer from <a
						href="https://en.wikipedia.org/wiki/Slovakia"
						class="text-primary">Slovakia</a
					>
				</h2>
			</div>
		</section>

		<a
			href="#about"
			class="scroll-wrapper absolute bottom-24 opacity-0 [animation-delay:2s] md:bottom-16"
			><Icon
				name="icomoon-free:circle-down"
				class="mx-auto -translate-y-1/4 animate-bounce [animation-delay:6s]"
				size={40}
			/></a
		>
	</header>

	<main class="content-wrapper hidden">
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ut nemo nisi
			repellat quisquam eveniet? Totam tenetur fugiat eligendi aspernatur aliquam iste atque
			reiciendis, vitae debitis ipsum. Eaque, dicta quisquam.
		</p>
	</main>
</Layout>

<script>
	import typewriter from "../scripts/typewriter.ts";
	typewriter("h1", {
		text: "Hi, I'm <span class='text-primary'>ejvali</span>.",
		speed: 70,
		onFinish: () => {
			document.querySelector(".header-content-wrapper")!.classList.add("animate-fadein");
			document.querySelector(".scroll-wrapper")!.classList.add("animate-fadein");
			setInterval(() => {
				document.querySelector(".content-wrapper")!.classList.remove("hidden");
				document.querySelector(".content-wrapper")!.classList.add("block");
			}, 2000);
		},
	});
</script>
