---
import Layout from "../layouts/Layout.astro";
import Header from "../components/sections/Header.astro";
import Navbar from "../components/widgets/Navbar.astro";
import About from "../components/sections/About.astro";
import Projects from "../components/sections/Projects.astro";
---

<Layout>
	<header class="flex h-screen flex-col items-center justify-center">
		<Navbar />
		<Header />
	</header>

	<main>
		<div class="mb-12 bg-neutral-900" id="about">
			<div
				class="aspect-[960/300] w-full bg-[url('/section-bg-top.svg')] bg-cover bg-center bg-no-repeat"
			>
			</div>
			<section class="max-w-7xl space-y-6 px-4 py-24 md:px-10 md:py-12 lg:px-12 xl:mx-auto">
				<About />
			</section>
			<div
				class="aspect-[960/300] w-full bg-[url('/section-bg-bottom.svg')] bg-cover bg-center bg-no-repeat"
			>
			</div>
		</div>
		
		<div class="mb-12" id="projects">
			<section class="max-w-7xl space-y-6 px-4 py-24 md:px-10 md:py-12 lg:px-12 xl:mx-auto">
				<Projects />
			</section>
		</div>
	</main>
</Layout>
