---
import Layout from "../layouts/Layout.astro";
import Header from "../components/widgets/Header.astro";
import Navbar from "../components/atoms/Navbar.astro";
import About from "../components/widgets/About.astro";
---

<Layout>
	<header class="flex h-screen flex-col items-center justify-center">
		<Navbar />
		<Header />
	</header>

	<main class="mb-24 md:mb-12">
		<div
			class="overflow-hidden bg-neutral-900"
			id="about"
		>
		<div class="aspect-[960/300] w-full bg-no-repeat bg-center bg-cover bg-[url('/section-bg-top.svg')]"></div>
			<section class="overflow-hidden max-w-7xl space-y-6 px-4 md:px-10 lg:px-12 xl:mx-auto py-24 md:py-12">
				<About />
			</section>
			<div class="aspect-[960/300] w-full bg-no-repeat bg-center bg-cover bg-[url('/section-bg-bottom.svg')]"></div>
		</div>
	</main>
</Layout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

	// Defaults
	gsap.set("nav", {
		opacity: 0,
	});

	// Animation
	gsap.to("nav", {
		scrollTrigger: {
			trigger: "nav",
			start: "top center",
			toggleActions: "play none none reverse",
		},
		opacity: 1,
	});
</script>
