---
import Layout from "../layouts/Layout.astro";
import Header from "../components/widgets/Header.astro";
import Navbar from "../components/atoms/Navbar.astro";
import About from "../components/widgets/About.astro";
---

<Layout>
	<header class="flex h-screen flex-col items-center justify-center">
		<nav class="fixed bottom-0 z-20 w-full md:absolute md:top-0">
			<Navbar />
		</nav>
		<Header />
	</header>

	<main class="mb-24 md:mb-12">
		<section
			class="max-w-7xl space-y-6 px-4 md:px-10 lg:px-12 xl:mx-auto"
			id="about"
			data-aos="fade-in"
		>
			<About />
		</section>
	</main>
</Layout>

<script>
	import AOS from "aos";
	import "aos/dist/aos.css";
	AOS.init();
</script>
