---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
	<header class="flex h-screen items-center justify-center">
		<nav class="fixed bottom-0 w-full md:absolute md:top-0">
			<Navbar />
		</nav>
		<h1 class="text-6xl font-extrabold">ejvali</h1>
	</header>
</Layout>
