---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";

const title = "Homepage";
---

<Layout title={title}>
	<h1 class="text-6xl font-extrabold"></h1>
	<div class="content opacity-0">
		<h2 class="text-2xl">
			<!-- prettier-ignore -->
			Full-Stack Web Developer from <Link href="https://en.wikipedia.org/wiki/Slovakia">Slovakia</Link>
		</h2>
	</div>
	<div class="scroll-wrapper opacity-0">
		<a href="/"
			><Icon
				name="icomoon-free:circle-down"
				size={40}
				class="mx-auto mt-56 -translate-y-1/4 animate-bounce [animation-delay:5s]"
			/></a
		>
	</div>
</Layout>

<script>
	import typewriter from "../scripts/typewriter.ts";

	typewriter("h1", {
		text: "Hi, I'm <span class='text-primary'>ejvali</span>.",
		speed: 70,
		onFinish: () => {
			document.querySelector(".content")!.classList.add("animate-content");
			document.querySelector(".scroll-wrapper")!.classList.add("animate-scroll");
		},
	});
</script>
