---
import Layout from "../layouts/Layout.astro";
import Header from "../components/widgets/Header.astro";
import About from "../components/widgets/About.astro";
---

<Layout>
	<header class="flex h-screen flex-col items-center justify-center">
		<Header />
	</header>

	<main class="mb-28 md:mb-auto">
		<section>
			<About />
		</section>
	</main>
</Layout>
