---
import Layout from "../layouts/Layout.astro";
import Header from "../components/widgets/Header.astro";
---

<Layout>
	<header class="flex h-screen flex-col items-center justify-center">
		<Header />
	</header>

	<main class="mb-28 md:mb-auto">
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, ut nemo nisi
			repellat quisquam eveniet? Totam tenetur fugiat eligendi aspernatur aliquam iste atque
			reiciendis, vitae debitis ipsum. Eaque, dicta quisquam.
		</p>
	</main>
</Layout>
