---
import { Icon } from "astro-icon/components";
---

<section class="mx-3 space-y-6 text-center">
	<h1 class="text-5xl font-extrabold md:text-6xl"></h1>
	<div class="header-content opacity-0">
		<h3 class="text-xl text-accent md:text-2xl">Full-Stack Web Developer</h3>
	</div>
</section>

<a
	class="header-arrow scroll-to-about absolute bottom-16 cursor-pointer opacity-0 [animation-delay:1s] md:bottom-24"
	><Icon
		name="icomoon-free:circle-down"
		class="mx-auto -translate-y-1/4 animate-bounce [animation-delay:4s]"
		size={40}
	/></a
>

<script>
	import typewriter from "../scripts/typewriter.ts";

	typewriter("h1", {
		text: "Hi, I'm <span class='text-primary'>ejvali</span>.",
		speed: 50,
		onFinish: () => {
			document.querySelector(".header-content")!.classList.add("animate-fadein");
			document.querySelector(".header-arrow")!.classList.add("animate-fadein");
		},
	});

	import { gsap } from "gsap";

	import { ScrollToPlugin } from "gsap/ScrollToPlugin";

	gsap.registerPlugin(ScrollToPlugin);

	document.querySelectorAll<HTMLElement>(".scroll-to-home").forEach((e) => {
		e.addEventListener("click", () => {
			gsap.to(window, {
				duration: 2,
				scrollTo: 0,
				ease: "power1.in",
			});
		});
	});
</script>
