---

---

<div class="mx-3 my-6 max-w-7xl rounded-full bg-stone-900 px-2 py-1 sm:px-6 lg:px-8 xl:mx-auto">
	<div class="m-0 flex justify-between overflow-hidden p-4">
		<a href="#">Right</a>
		<a href="#">Left</a>
	</div>
</div>
