---
import { Icon } from "astro-icon/components";

const navPages = [
	{
		url: "",
		title: "Home",
	},
	{
		url: "about",
		title: "About",
	},
];
---

<div
	class="mx-3 my-6 max-w-7xl rounded-full border-2 border-secondary bg-transparent px-2 text-text sm:px-6 lg:px-8 xl:mx-auto"
>
	<div class="m-0 flex justify-between overflow-hidden p-4">
		<a href="/" class="text-2xl font-bold">ejvali</a>
		<div class="hidden md:flex md:flex-row">
			{
				navPages.map((page) => (
					<a
						href={`/${page.url}`}
						class="px-5 text-xl transition-all duration-300 hover:-translate-y-0.5 hover:opacity-60"
					>
						{page.title}
					</a>
				))
			}
		</div>
		<Icon name="mdi:hamburger-menu" size={32} class="hamburger cursor-pointer md:hidden" />
	</div>
</div>

<div
	class="nav-links absolute left-0 top-0 z-20 hidden w-full bg-primary px-3 py-6 text-background"
>
	<div class="m-0 flex justify-between overflow-hidden p-4">
		<div class="flex flex-col">
			{
				navPages.map((page) => (
					<a
						href={`/${page.url}`}
						class="py-2 text-xl transition-all duration-300 first:pt-0 hover:-translate-y-0.5 hover:opacity-60"
					>
						{page.title}
					</a>
				))
			}
		</div>
		<Icon name="mdi:close" size={32} class="hamburger-close cursor-pointer" />
	</div>
</div>
