---
import { Icon } from "astro-icon/components";

const navPages = [
	{
		url: "",
		title: "Home",
	},
	{
		url: "about",
		title: "About",
	},
	{
		url: "projects",
		title: "Projects",
	},
	{
		url: "contact",
		title: "Contact",
	},
];
---

<div
	class="rounded-t-3xl border border-stone-800 bg-stone-900 px-2 py-1 text-text md:mx-3 md:my-6 md:max-w-7xl md:rounded-full md:border-none md:px-6 lg:px-8 xl:mx-auto"
>
	<div class="m-0 flex justify-center overflow-hidden p-4 md:justify-between">
		<a href="/" class="hidden text-xl font-bold md:inline-block">ejvali</a>
		<div class="flex space-x-1 overflow-x-auto md:space-x-2 md:overflow-x-visible">
			{
				navPages.map((page) => (
					<a
						href={`/${page.url}`}
						class="rounded-md px-2 text-lg transition-all duration-300 hover:bg-stone-800 md:px-4 md:text-xl"
					>
						{page.title}
					</a>
				))
			}
		</div>
	</div>
</div>
