---
import { Icon } from "astro-icon/components";
import { navPages } from "../../config.ts";
---

<nav
	class="fixed bottom-0 z-20 w-full border-t border-neutral-800 bg-neutral-900 px-2 py-1 text-text md:bottom-auto md:top-0 md:border-b md:border-t-0 md:bg-transparent md:px-6 md:backdrop-blur md:supports-[backdrop-filter]:bg-background/60 lg:px-8 xl:mx-auto"
>
	<div class="m-0 flex overflow-hidden p-4 md:justify-between">
		<a
			href="/"
			class="hidden items-center justify-center text-center text-2xl font-bold md:flex"
			><img src="./logo.png" width="32" class="mr-2" /> ejvali</a
		>
		<div class="flex w-full justify-evenly md:w-auto md:justify-normal md:space-x-4">
			{
				navPages.map((page) => (
					<a
						class={`scroll-to-${page.title.toLowerCase()} flex cursor-pointer items-center rounded-md px-3 py-1 transition-all duration-300 hover:bg-neutral-800`}
					>
						<Icon
							name={page.icon}
							class="inline-block text-3xl md:mr-2 md:hidden md:text-2xl"
						/>
						<span class="hidden text-xl md:inline-block">{page.title}</span>
					</a>
				))
			}
		</div>
	</div>
</nav>
