---
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ejvali - {title}</title>
	</head>
	<body class="bg-background font-sans text-text">
		<Header />

		<main class="mt-16 flex flex-col items-center justify-center md:mt-56 md:flex-row">
			<slot />
		</main>

		<script>
			import "../scripts/menu.ts";
		</script>
	</body>
</html>
