---
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ejvali - {title}</title>
	</head>
	<body class="bg-background font-sans text-text">
		<Header />

		<main class="mt-56 space-y-5 text-center text-white">
			<slot />
		</main>

		<script>
			import "../scripts/menu.ts";
		</script>
	</body>
</html>
